* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html {
	font-size: 14px;
	font-family: Arial;
}

button {
	border:none;
     cursor: pointer;
     user-select:none;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
}

.viewport {
	position:absolute;
	display: flex;
	flex-direction:column;
	width: 100%;
	height:100%;
}

.canvas-container {
	position:relative;
	width:100vw;
	height:100vw;
	background-image: linear-gradient(to bottom right, #222222, #550055);
	flex-grow: 0;
	max-width:800px;
	max-height:800px;
	overflow:hidden;
}

canvas {
	position: absolute;
	width:100%;
	background-color: black;
	max-width:800px;
}

.debug{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	height:100px;
	z-index:2;
	color: #00FF00;
}

.controls {
	position:relative;
	width:100%;
	background-color:#444444;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}


.container {
	position:relative;
	font-size:0px;
	display:none;
	flex-wrap: wrap;
	text-align: center;
	flex-grow: 1;
}

.button-container {
	font-size: 12px;
	display:inline-block;
	padding:2px;
}

.particles {
	background-color: blue;
}

.physics {
	background-color: orange;
}

.view {
	background-color: green;
}

.misc {
	background-color: purple;
}


 .species-selector, .quantity-selector {
	 display:inline-block;
	 margin:1px;
	 font-size: 0px;
 }

/* control styles */



.control-button {
	vertical-align:top;
	width:10vw;
	font-size: 8.7vw;
	height:10vw;
	max-width:50px;
	max-height:50px;
}

.tabs {
	width:100%;
	height:10vw;
	flex-grow: 0;
	font-size: 0;
	display:flex;
}

.control-tab {
	width:100%;
	background-color: blue;
	font-size: 14px;
	color:white;
	background-color: black;
}


.tabs #particles.selected{
	background-color: blue;
}
.tabs #physics.selected {
	background-color: orange;
}
.tabs #view.selected {
	background-color: green;
}
.tabs #misc.selected {
	background-color: purple;
}



.coupling-grid button, .properties-grid button {
	width: 40px;
	height: 40px;
	font-size:30px;
}

.properties-grid div {
	font-size: 20px;
}

.icon {
	background-color: transparent;
	cursor: default;
}

.coupling-grid, .properties-grid {
	display:grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
}

.coupling-grid {
	grid-template-columns: repeat(4, 1fr);
}

.properties-grid {
	grid-template-columns: repeat(3, 1fr);
}

#btn_a {
	background-color: rgb(180,0,180);
}

#btn_b {
	background-color: rgb(200,130,50);
}


#btn_c {
	background-color: rgb(0,180,180);
}

#btn_all {
	background-image: linear-gradient(to bottom right, rgb(180,0,180), rgb(255,180,100),rgb(0,180,180));
}

#btn_a.selected {
	background-color: rgb(255,200,255);
}

#btn_b.selected {
	background-color: rgb(255,200,120);
}

#btn_c.selected {
	background-color: rgb(100,255,255);
}

#btn_all.selected {
	background-image: linear-gradient(to bottom right, rgb(255,70,255), rgb(255,255,200),rgb(100,255,255));
}


/*styles for custom checkbox - thanks w3schools*/

.switch {
	position: relative;
	display: block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:none;
	border: 2px solid white;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: '';
	width: 26px;
	height: 26px;
	left:2px;
	right:2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;	
}

input:checked + .slider {
	background-color: #FFAA00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* modal things */

.modal {
	display:none;
	position:fixed;	
	z-index: 2;
	width:100%;
	height:100%;
	left: 0px;
	top: 0px;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0,0.7);
}

.modal-content{
	position: relative;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0, 0.7);
	margin: 5% auto;
	width: 80%;
	max-width: 400px;
	min-height: 35%;
	border-radius: 30px;
	padding: 15px;
	border: 2px solid white;
	color: white;
	user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
	animation-name: animatetop;
	animation-duration: 0.4s;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-header {
	background-color: rgb(40,40,40);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius:15px;
}

.modal-body {
	text-align: center;
	font-size: 1.1rem;
	display: flex;
	flex-direction: column;
}

.modal-section {
	padding:10px;
	text-align:center;
	margin-bottom: 20px;
	
}

.modal h3 {
	text-align: left;
	padding-bottom:10px;
}

.modal p {
	padding-top: 10px;
}

.modal .close {
	font-size: 30px;
	font-weight: bold;
	display:inline-block;
}

.modal .close:hover,
.modal .close:focus {
  color: #444444;
  text-decoration: none;
  cursor: pointer;
  transition:0.25s;
}

/* temporary classes (controlled through javascript) */

/* it'd be nice to do some cool stuff to make these look like illuminated switches*/
/*but that's a job for another time */


.show {
	display:block;
}

/*Mobile-portrait style */
@media only screen and (max-width: 700px),(orientation: portrait){
		.control-button{
		font-size: 24px;
	}

}

/* may need some specific queries targeting iOS devices, due to buggy vh support.
In this case, target SPECIFIC screen dimensions */

/*Landscape - tablet/phone style*/
@media only screen and (min-width: 420px) and (orientation:landscape){
	.viewport {
		flex-direction:row;
	}
	
	.canvas-container {
		flex-grow:2;
		height:auto;
		max-height:100%;
		max-width:100vh;
	}
	

	.controls {
		width: 70%;
	}

	.control-button{
		font-size: 30px;
	}
	
	.controls.container {
		flex-grow:0;
	}

	.modal-content {
		max-width:800px;
	}

	.modal-body {
		text-align: center;
		font-size: 1.1rem;
		display: flex;
		flex-direction: row;
	}

	.modal-section {
		margin-left:20px;
	}

	.modal h3 {
		text-align:center;
	}

	
}

